@font-face {
    font-family: "Outfit";
    src: url("/fonts/outfit-light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Outfit";
    src: url("/fonts/outfit-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
// @font-face {
//   font-family: "Brandon";
//   src: url("/fonts/brandon.woff2") format("woff2");
//   font-style: normal;
//   font-weight: 900;
//   font-display: swap;
// }
@font-face {
    font-family: "Passion One";
    src: url("/fonts/passion-one.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
// @font-face {
//     font-family: "Caveat";
//     src: url("/fonts/caveat.woff2") format("woff2");
//     font-style: normal;
//     font-weight: 300;
//     font-display: swap;
// }